@font-face {
    font-family: "moniqa";
    src: url("../font/Moniqa-Display.woff2") format("woff2"),
    url("../font/Moniqa-Display.woff") format("woff"),
    url("../font/Moniqa-Display.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "moniqa_italic";
    src: url("../font/Moniqa-ItalicDisplay.woff2") format("woff2"),
    url("../font/Moniqa-ItalicDisplay.woff") format("woff"),
    url("../font/Moniqa-ItalicDisplay.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "roman_italic";
    src: url("../font/TimesNewerRoman-BoldItalic.woff2") format("woff2"),
    url("../font/TimesNewerRoman-BoldItalic.woff") format("woff"),
    url("../font/TimesNewerRoman-BoldItalic.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "roman";
    src: url("../font/TimesNewerRoman-Regular.woff2") format("woff2"),
    url("../font/TimesNewerRoman-Regular.woff") format("woff"),
    url("../font/TimesNewerRoman-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "pretendard";
    src: url("../font/Pretendard-Regular.woff2") format("woff2"),
    url("../font/Pretendard-Regular.woff") format("woff"),
    url("../font/Pretendard-Regular.ttf") format("truetype");
    font-weight: 400;
}
