@font-face {
    font-family: "moniqa";
    src: url("../font/Moniqa-Display.woff2") format("woff2"),
    url("../font/Moniqa-Display.woff") format("woff"),
    url("../font/Moniqa-Display.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "moniqa_italic";
    src: url("../font/Moniqa-ItalicDisplay.woff2") format("woff2"),
    url("../font/Moniqa-ItalicDisplay.woff") format("woff"),
    url("../font/Moniqa-ItalicDisplay.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "roman_italic";
    src: url("../font/TimesNewerRoman-BoldItalic.woff2") format("woff2"),
    url("../font/TimesNewerRoman-BoldItalic.woff") format("woff"),
    url("../font/TimesNewerRoman-BoldItalic.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "roman";
    src: url("../font/TimesNewerRoman-Regular.woff2") format("woff2"),
    url("../font/TimesNewerRoman-Regular.woff") format("woff"),
    url("../font/TimesNewerRoman-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "pretendard";
    src: url("../font/Pretendard-Regular.woff2") format("woff2"),
    url("../font/Pretendard-Regular.woff") format("woff"),
    url("../font/Pretendard-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "pretendard_bold";
    src: url("../font/Pretendard-Bold.woff2") format("woff2"),
    url("../font/Pretendard-Bold.woff") format("woff"),
    url("../font/Pretendard-Bold.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "pretendard_black";
    src: url("../font/Pretendard-Black.woff2") format("woff2"),
    url("../font/Pretendard-Black.woff") format("woff"),
    url("../font/Pretendard-Black.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "jeju";
    src: url("../font/JejuMyeongjoOTF.woff2") format("woff2"),
    url("../font/JejuMyeongjoOTF.woff") format("woff"),
    url("../font/JejuMyeongjoOTF.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "tenada";
    src: url("../font/Tenada.woff2") format("woff2"),
    url("../font/Tenada.woff") format("woff"),
    url("../font/Tenada.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "ns_regular";
    src: url("../font/NotoSansKR-Regular.woff2") format("woff2"),
    url("../font/NotoSansKR-Regular.woff") format("woff"),
    url("../font/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "ns_semibold";
    src: url("../font/NotoSansKR-SemiBold.woff2") format("woff2"),
    url("../font/NotoSansKR-SemiBold.woff") format("woff"),
    url("../font/NotoSansKR-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "power";
    src: url("../font/강원교육튼튼.woff2") format("woff2"),
    url("../font/강원교육튼튼.woff") format("woff"),
    url("../font/강원교육튼튼.ttf") format("truetype");
    font-weight: normal;
}